
<div class="search">
    <mat-form-field>
        <mat-label>SEARCH</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Enter value" #input>
    </mat-form-field>
    <mat-icon>search</mat-icon>
</div>

<div *ngIf="accounts.length > 0" class="display-users">
    <mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 table-task">
        <!-- FULL NAME Column -->
        <ng-container matColumnDef="full-name">
            <mat-header-cell *matHeaderCellDef> FULL NAME </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} 
                {{element.surname}} {{element.patronymic}} </mat-cell>
        <!-- EMAIL Column -->
        </ng-container> <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container> 

        <mat-header-row *matHeaderRowDef="columnsToDisplay" class="header-table-dark"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="goToUserDetail(row)" class="row-hover"></mat-row>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
        </tr>
    </mat-table>
</div>
<div *ngIf="accounts.length == 0">
    <h2 class="not-found"> Users not found.</h2>
</div>

  