<!-- Modal -->
<div>
    <mat-dialog-content class="add-user">
        <h1 mat-dialog-title>Добавление пользователя</h1>
        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label class="label-add">Фамилия</mat-label>
            <input matInput type="text" [(ngModel)]="newUser.accountInfo.surname" required/>
        </mat-form-field>
        
        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label class="label-add">Имя</mat-label>
            <input matInput type="text" [(ngModel)]="newUser.accountInfo.name" required/>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label class="label-add">Отчество</mat-label>
            <input matInput type="text" [(ngModel)]="newUser.accountInfo.patronymic" required/>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label class="label-add">Email</mat-label>
            <input matInput type="text" [(ngModel)]="newUser.accountInfo.email" required/>
        </mat-form-field>
        
        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label class="label-add">Пароль</mat-label>
            <input matInput type="text" [(ngModel)]="newUser.accountInfo.password" required/>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label>Выберите роль</mat-label>
            <mat-select [(ngModel)]="newUser.accountInfo.role" required>
                <mat-option *ngFor="let role of roleList" [value]="role">
                    {{role}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label class="label-add">Должность</mat-label>
            <input matInput type="text" [(ngModel)]="newUser.position" required/>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label class="label-add">Номер телефона</mat-label>
            <input matInput type="text" [(ngModel)]="newUser.phone" required/>
        </mat-form-field>


    </mat-dialog-content>
    <mat-dialog-actions class="btn-actions">
        <button class="cansel-btn" (click)="onNoClick()">Отмена</button>
        <button class="save-btn" (click)="onAddClick()" cdkFocusInitial>Добавить</button>
    </mat-dialog-actions>
</div>