<div class="project-detail">
    <div *ngIf="project">
        <div class="detail">
            <h2>Project Details</h2>
            <p>Code: <span>{{project.projectCode}}</span></p>
            <p>Summary: <span>{{project.summary}}</span></p>
            <p>Due Date: <span>{{project.dueDate | date:'medium'}}</span></p>
            <p>Status: <span>{{project.currentStatus}}</span></p>
        
        </div>
        <div class="horizontal-line"></div>
        <h2 class="pr-tasks">Project Tasks</h2>
        <app-task [project]="project"></app-task>
    </div>  
</div>
