.yellow-icon {
    color: rgb(224, 211, 16);
    font-size: 85px;
    margin-top: 0px;
    margin-left: 40px;
}

.d-warning {
    font-family: 'Verdana'; 
    font-size: 18px; 
    font-style: normal;
}

.content {
    width: 340px;
    height: 200px;
}

.d-warning h1 {
    font-weight: bold;
    position: relative;
    top: -60px;
    left: 140px;
    width: 100px;
    color: rgb(77, 77, 77);
}

.warn-context {
    margin-top: -10px;
    width: 330px;
    text-align: center;
}