<div class="btn-change-status">
    <button class="btn btn-dark" *ngIf="isStartTask" (click)="startTask()">Начать выполнение</button>
    <button class="btn btn-dark" *ngIf="isResolvedTask" (click)="resolvedTask()">Выполнена</button>
    <button class="btn btn-dark" *ngIf="isSendOnTest" (click)="sendOnTest()">На тестирование</button>
    <button class="btn btn-dark" *ngIf="isStartTest" (click)="startTest()">Тестировать</button>
    <button class="btn btn-dark" *ngIf="isReopenTask" (click)="reopenTask()">Переоткрыть</button>
    <button class="btn btn-dark" *ngIf="isCloseTask" (click)="closeTask()">Закрыть</button>
</div>
