<div class="btn-change-status">
    <button class="btn btn-dark" *ngIf="isStartTask" (click)="startTask()">Start task</button>
    <button class="btn btn-dark" *ngIf="isResolvedTask" (click)="resolvedTask()">Resolve task</button>
    <button class="btn btn-dark" *ngIf="isSendOnTest" (click)="sendOnTest()">Send on test</button>
    <button class="btn btn-dark" *ngIf="isStartTest" (click)="startTest()">Start test</button>
    <button class="btn btn-dark" *ngIf="isReopenTask" (click)="reopenTask()">Reopen task</button>
    <button class="btn btn-dark" *ngIf="isCloseTask" (click)="closeTask()">Close task</button>
</div>
