<div class="user-detail">
    <div>
        <h2>User Details</h2>
        <p><span>Full name: </span>
            {{user.accountInfo.name}} 
            {{user.accountInfo.patronymic}}
            {{user.accountInfo.surname}}
        </p>
        <p><span>Email: </span>{{user.accountInfo.email}}</p>
        <p><span>Position: </span>{{user.position}}</p>
        <p><span>Phone: </span>{{user.phone}}</p>
        <p><span>Current status: </span>{{user.phone}}</p>
    </div>  
    <div *ngIf="isProfile">
        <h2>Tasks</h2>
        <div *ngIf="taskList.length > 0" class="display-tasks">
            <table class="table table-hover">
                <thead><tr class="header-table-dark">
                    <td>CODE</td>
                    <td>PRIORITY</td>
                    <td>DUE DATE</td>
                    <td>ECTIMATION TIME</td>
                    <td>STATUS</td>
                </tr></thead>
                <tbody><tr *ngFor="let task of taskList" class="table-secondary" 
                    (click)="goToTaskDetail(task)">
                    <td> {{task.taskCode}} </td>
                    <td> {{task.priority}} </td>
                    <td> {{task.dueDate}} </td>
                    <td> {{task.estimationTime}} </td>
                    <td> {{task.currentStatus}} </td>
                </tr></tbody>
            </table>
        </div>
        <div *ngIf="taskList.length == 0">
            <h2> Tasks not found.</h2>
        </div>
    </div>
</div>
