<!-- Modal -->
<div>
    <mat-dialog-content class="add-task">
    <h1 mat-dialog-title>Add Task</h1>
    <h2 *ngIf="project != undefined" >Project code: {{ project.projectCode }} </h2>
        <mat-form-field *ngIf="project == undefined" appearance="fill" floatLabel="never" color="primary">
            <mat-label>Choose project</mat-label>
            <mat-select [(ngModel)]="newTask.priority">
                <mat-option *ngFor="let priority of priorityList" [value]="priority">
                    {{priority}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label>Choose priority</mat-label>
            <mat-select [(ngModel)]="newTask.priority">
                <mat-option *ngFor="let priority of priorityList" [value]="priority">
                    {{priority}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="form-group">
            <label for="dueDate">Due Date:</label> 
            <input type="datetime-local" class="form-control due-date" [(ngModel)]="newTask.dueDate" />
        </div>
        
        <mat-form-field appearance="fill" floatLabel="never" color="primary">
            <mat-label class="label-add">Estimation time</mat-label>
            <input matInput type="number" min="1" step="1" [(ngModel)]="newTask.estimationTime"/>
        </mat-form-field>
            
        <mat-form-field appearance="fill" floatLabel="never" color="primary" class="description-add">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="newTask.description" class="description-add-textarea"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="btn-actions">
        <button class="cansel-btn" (click)="onNoClick()">CANSEL</button>
        <button class="save-btn" (click)="onAddClick()" cdkFocusInitial>Add</button>
    </mat-dialog-actions>
</div>

