.label-add {
    font-size: 17px;
}

.add-task {
    width: 350px;
    min-height: 520px;
    margin-left: -10px;
    margin-right: -10px;
    font-family: 'Verdana'; 
    font-size: 17px;
}

.add-task h1 {
    margin-left: 130px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.description-add {
    width: 310px;
}

.description-add-textarea {
    height: 50px;
}

.btn-actions {
    margin: -10px 0px -30px 30px;
}

.due-date {
    background-color: rgb(245, 245, 245);
}