<div class="projects">
<h2>Projects by Project manager </h2>

<button class="btn btn-dark bn-new-project" (click)="addNewProject()">New Project</button>

<table class="table table-hover">
    <thead><tr class="header-table-dark">
        <td>CODE</td>
        <td>SUMMARY</td>
        <td>DUE DATE</td>
        <td>STATUS</td>
    </tr></thead>
    <tbody><tr *ngFor="let project of projects" 
      (click)="goToProjectDetail(project)"
      class="table-secondary">
        <td> {{project.projectCode}} </td>
        <td> {{project.summary}} </td>
        <td> {{project.dueDate | date:'medium'}} </td>
        <td> {{project.currentStatus}} </td>
    </tr></tbody>
</table>