<div class="projects">
<h2>Projects by Project manager </h2>

<button class="btn btn-dark bn-new-project" (click)="addNewProject()">New Project</button>

<table class="table table-hover">
    <thead><tr class="header-table-dark">
        <td>CODE</td>
        <td>SUMMARY</td>
        <td>DUE DATE</td>
        <td>STATUS</td>
    </tr></thead>
    <tbody><tr *ngFor="let project of projects" 
      (click)="goToProjectDetail(project)"
      class="table-secondary">
        <td> {{project.projectCode}} </td>
        <td> {{project.summary}} </td>
        <td> {{project.dueDate}} </td>
        <td> {{project.currentStatus}} </td>
    </tr></tbody>
</table>

<div>
    <div class="submit-form">
      <div *ngIf="addForm">
        <div class="form-group">
          <label for="projectCode">Project Code: </label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="project.projectCode"
          />
        </div>
  
        <div class="form-group">
          <label for="summary">Summary</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="project.summary"
          />
        </div>

        <div class="form-group">

            <label for="dueDate">Due Date</label>

            <input 
            type="datetime-local" 
            class="form-control" 
            value="{{project.dueDate}}" 
            [(ngModel)]="project.dueDate" />

        </div>
    
        <button class="btn btn-success" (click)="add()">Add</button>
      </div>
    </div>
    <div *ngIf="isAddedProject" class="alert alert-success"> Project added! </div>
  </div>

</div>