/* You can add global styles to this file, and also import other style files */

@media screen and (max-height: 450px) {
    body {
        background-image: linear-gradient(180deg, rgb(209, 212, 253), rgba(231, 240, 253, 0.836));
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
